<!DOCTYPE html>
<html lang="en">
<head>
<title>Group A Web Client Demo</title>
<style>

body {
	margin: 0px;
	overflow-x:hidden;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

table.nav {
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	background-color: #3366cc;
	width: 8000px;
	height: 40px;
}

td.nav1 {
	width:	60px;
}

td.nav2 {
	width:	75px;
}

td.nav3 {
	width:	700px;
}

p.nav {
	margin: 0px;
	color:white;
	font-family:	arial,sans-serif;
	font-size:	18px;
	font-weight:	normal;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#request_type').on('change', function() {
  	$("#amount").hide();
	$("#stockSymbol").hide();
	$("#filename").hide();
	$("#amount").val("");
	$("#stockSymbol").val("");
	$("#filename").val("");

    if ( this.value == 'ADD') {
	    $("#amount").show();
	}
	else if ( this.value == 'QUOTE') {
		$("#stockSymbol").show();
	}
	else if ( this.value == 'BUY') {
		$("#amount").show();
		$("#stockSymbol").show();
	}
	else if ( this.value == 'SELL') {
		$("#amount").show();
		$("#stockSymbol").show();
	}
	else if ( this.value == 'SET_BUY_AMOUNT') {
		$("#amount").show();
		$("#stockSymbol").show();
	}
	else if ( this.value == 'CANCEL_SET_BUY') {
		$("#stockSymbol").show();
	}
	else if ( this.value == 'SET_BUY_TRIGGER') {
		$("#amount").show();
		$("#stockSymbol").show();
	}
	else if ( this.value == 'SET_SELL_AMOUNT') {
		$("#amount").show();
		$("#stockSymbol").show();
	}
	else if ( this.value == 'SET_SELL_TRIGGER') {
		$("#amount").show();
		$("#stockSymbol").show();
	}
	else if ( this.value == 'CANCEL_SET_SELL') {
		$("#stockSymbol").show();
	}
	else if ( this.value == 'DUMPLOG') {
		$("#filename").show();
	}
  }).trigger('change');
});
</script>
</head>
	<body>
		<table class="nav">
			<tr>
				<td class="nav1">
				</td>
				<td class="nav2">
					<p class="nav">
						<a href="#">Login</a>
					</p>
				</td>
				<td class="nav3">
					<p class="nav">
						<a href="#">Sign Up</a>
					</p>
				<td>
				</td>
			</tr>
		</table>
		<div width="400" align="center">
			<br><br>
		    {% if response_message %}
				System Response: {{ response_message|safe }}<br><br>
		    {% endif %}
		</div>
		<div id="container" width="400" align="center">
			<form action="{{ url_for('index') }}" method=post>
				<div id="requestType">
				    Request Type:
				    <select name="request_type" id="request_type">
				    	<option value="" disabled="disabled" selected="selected">Select Request</option>
					    <option value="ADD">Add</option>
					    <option value="QUOTE">Quote</option>
					    <option value="BUY">Buy</option>
					    <option value="COMMIT_BUY">Commit Buy</option>
					    <option value="CANCEL_BUY">Cancel Buy</option>
					    <option value="SELL">Sell</option>
					    <option value="COMMIT_SELL">Commit Sell</option>
					    <option value="CANCEL_SELL">Cancel Sell</option>
					    <option value="SET_BUY_AMOUNT">Set Buy Amount</option>
					    <option value="CANCEL_SET_BUY">Cancel Set Buy</option>
					    <option value="SET_BUY_TRIGGER">Set Buy Trigger</option>
					    <option value="SET_SELL_AMOUNT">Set Sell Amount</option>
					    <option value="SET_SELL_TRIGGER">Set Sell Trigger</option>
					    <option value="CANCEL_SET_SELL">Cancel Set Sell</option>
					    <option value="DUMPLOG">Dumplog</option>
					    <option value="DISPLAY_SUMMARY">Display Summary</option>
					</select>
					<br><br>
				</div>
				<div id="username">
				    Username: 
				    <input type="text" name="username" value=""><br><br>
			    </div>
			    <div id="amount" style="display:none">
			    	Amount: 
			    	<input type="number" name="amount" value=""><br><br>
			    </div>
			    <div id="stockSymbol" style="display:none">
			    	Stock Symbol: 
			    	<input type="text" name="stock_id"><br><br>
			    </div>
			    <div id="filename" style="display:none">
			    	Filename: 
			    	<input type="text" name="filename"><br><br>
			    </div>
			    <input type="submit" value="Submit">
			</form>
		</div>

	</body>
</html>
